#root {
  position: relative;
  min-height: 100vh;
}

input:placeholder {
	display:none !important;
}
.changeClaims{
display: none !important;
}
.m_container {
    margin-bottom: 48px;
    margin-top: 10px;
		padding: 0px 10%
}
.motus_logo {
    margin-bottom: 48px;
    margin-top: 10px;
}

@media all and (max-width: 480px) {
 .motus_logo {
    margin-bottom: 24px;
    margin-top: 24px;
    width: 200px !important;
  }
}

@media screen and (max-width: 768px) {
 .motus_logo {
    margin-bottom: 24px;
    margin-top: 24px;
    width: 250px;
  }
}


.mdc-layout-grid
  {
      padding-left: 0px !important;
      padding-bottom: 0px !important;
  
  }
  
  .mdc-layout-grid__inner{
      grid-gap: 10px !important;
    grid-template-columns: repeat(2, minmax(0, 1fr)) !important;	
  }
  
  
  .mdc-layout-grid__inner_Error{
      grid-gap: 30px !important;
      grid-template-columns: repeat(2, minmax(0, 1fr)) !important;	
  }
  
  @media screen and (max-width: 700px) {
  
      .mdc-layout-grid__inner{
      grid-gap: 20px !important;
      grid-template-columns: repeat(1, minmax(0, 1fr)) !important;	
      }
  }
  
  
  .mdc-layout-grid__cell
  {
      grid-column-end: span 1 !important;
      height: 70px !important;
  }
  
  .mdc-layout-grid__cell_error
  {
      grid-column-end: span 1 !important;
      height: 100% !important;
  }
  
  .mdc-layout-grid__cell2
  {
      grid-column-end: span 2 !important;
      width: 100%;
  } 
  
  
  media screen and (max-width: 480px) {
      .mdc-layout-grid__cell2
      {
          grid-column-end: span 1 !important;
          width: 100%;
      }
  } 
  .heading{
	 display: none;
  }
.hintText
{
  height: 30px;
  width: 80% !important;
  color: #003C51;
  font-size: 12px;
  letter-spacing: 0;
  line-height: 15px;
}

.login-home {
  height: 56px;
  width: 110px;
  color: #003C51;
  font-size: 18px;
  font-weight: 300;
  letter-spacing: 0;
  line-height: 56px;
}
.login-home-group{
	float: right;
	margin-top: 50px;
}
@media all and (max-width: 480px) {
 .login-home-group{
	float: right;
	margin-top: 2px;
}
}

@media screen and (max-width: 768px) {
 .login-home-group{
	float: right;
	margin-top: 25px;
}
}

  .form_header{
    color:#e11d3f;
    font-size: 20px;
    font-weight: 500;
    margin-top: 15px;
    margin-bottom: 20px;
  }
  
  .motus_red_logo{
  width: 25px;
  margin-left: 0;
  display: inline;
  position: relative;
  top: 5px;
  right: 5px:
  }

.error{

  width: 80% !important;
  color: #e11d3e;
  font-size: 14px;
  position: relative;
  top: 110px;
  left: 2%
}

.motus_header {
    color: #003c51;
    font-size: 40px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 56px;
    margin-bottom: 32px;
  }
  
  .motus_paragraph {
    height: auto;
    width: 100%;
    opacity: 0.65;
    color: #08131f;
    font-size: 18px;
    letter-spacing: 0;
    line-height: 27px;
    margin-bottom: 48px;
  }
  
  .title_container {
      padding: 30px;
      border-bottom: 1px solid $boder_color;
  }
  .form_title {
      color: #003c51;
      font-size: 28px;
      font-weight: 500;
      letter-spacing: 0;
      line-height: 42px;
  }
  
  .form {
     padding: 30px;
  }
  .paragraph {
     height: auto;
      max-width: 654px;
      opacity: 0.65;
      color: #08131f;
      font-size: 18px;
      letter-spacing: 0;
      line-height: 27px;
  }

  .verification_SentNotification{
	height: auto;
	max-width: 654px;
  	opacity: 0.65;
	font-size: 18px;
  	letter-spacing: 0;
  	line-height: 27px;
  	margin-bottom: 30px;
  	margin-top: 30px;
}
  
  #attributeVerification .buttons button {
      text-transform: capitalize !important;
      font-size: 24px !important;
      margin-bottom: 24px !important;
      background-color: #003c51 !important;
      color: #fff !important;
      color: inherit;
      border: 0;
      cursor: pointer;
      margin: 0;
      display: inline-flex;
      outline: 0;
      padding: 0;
      position: relative;
      align-items: center;
      user-select: none;
      border-radius: 0;
      vertical-align: middle;
      -moz-appearance: none;
      justify-content: center;
      text-decoration: none;
      background-color: transparent;
      -webkit-appearance: none;
      -webkit-tap-highlight-color: transparent;
      color: rgba(0, 0, 0, 0.87);
      padding: 6px 16px;
      font-size: 0.875rem;
      min-width: 64px;
      box-sizing: border-box;
      transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
      font-family: "Roboto", "Helvetica", "Arial", sans-serif;
      font-weight: 500;
      line-height: 1.75;
      border-radius: 4px;
      letter-spacing: 0.02857em;
      text-transform: uppercase;
      padding: 6px 8px;
      width: 100%;
  }
  
  .entry-item {
      padding: 6px 0 6px;
  }
  
  .entry-item label {
      display: none;
  }
  



  
  
  .attrEntry {
      margin-bottom: 24px!important;
  }
  
  #attributeList ul{
      padding-inline-start: 0px;
      list-style-type: none;
  }
  
  /* .emailVerificationControl_li{
      padding-right: 30px
  } */
  li{
	  text-decoration: none;
	  list-style-type: none
  }
  .newPassword_li{
      padding-right: 30px;
  }
  .reenterPassword_li{
      padding-right: 30px;
  }
  .extension_FirstName_li{
      padding-right: 30px;
  }
  .surname_li{
      padding-right: 30px;
  }
  
  /* .emailVerificationControl_li .verificationControlContent ul{
      padding-inline-start: 0px;
  } */
  
  /* .verificationControlContent .buttons{
      display: none;
  } */
/*   
  .verificationControlContent ul li a{
      display: none;
  }
  
  .verificationControlContent ul li {
      display: none;
  } */
/*   
  .emailVerificationControl_li .attrEntry a{
      display: none;
  } */
  
  /* .emailVerificationControl_li ul li {
      display: none;
  } */
  
  .newPassword_li .attrEntry a{
      display: none;
  }
  
  .newPassword_li ul li {
      display: none;
      padding-right: 30px;
  }
  
  .reenterPassword_li .attrEntry a{
      display: none;
  }
  
  .reenterPassword_li ul li {
      display: none;
      padding-right: 30px;
  }
  
  .extension_FirstName_li .attrEntry a{
      display: none;
  }
  
  .extension_FirstName_li ul li {
      display: none;
      padding-right: 30px;
  }
  
  .surname_li .attrEntry a{
      display: none;
  }
  
  .surname_li ul li {
      display: none;
      padding-right: 30px;
  }
  
  .input{
      border: 0;
      margin: 0;
      display: inline-flex;
      padding: 0;
      position: relative;
      min-width: 0;
      flex-direction: column;
      vertical-align: top;
  }
  .divisionBorder{
margin-top: 0px;
opacity: 0.5;

}

.verifying-modal{
	display: none !important;
}

#requiredFieldMissing{
	display: none !important;
}
#claimVerificationServerError{
	display: none !important;
}
#fieldIncorrect{
	display: none !important;
}






  .divider h2 {
      height: auto;
      max-width: 654px;
      opacity: .65;
      color: #08131f;
      font-size: 18px;
      letter-spacing: 0;
      line-height: 27px;
  }
  
  .form_container {
    box-sizing: border-box;
    height: auto;
    background-color: #fff;
    display: block;
  }
  
  .form_container h2 {
    box-sizing: border-box;
    height: auto;
    width: 100%;
    border: $border;
    border-radius: $border_radius;
    background-color: #ffffff;
  }
  
  .image_container {
      max-width: 400px;
      max-height: 400px;
      border-radius: 100%;
      margin: auto;
  }
  
  .footer .right_footer_space {
      background-color: #003c51 !important;
      height: 72px;
      width: 100%;
  }
  
  .MuiGrid-grid-xs-1 {
      flex-grow: 0;
      max-width: 8.333333%;
      flex-basis: 8.333333%;
  }
  
  .footer .right_footer img {
      width: 100%;
  }
  
  .footer .right_footer {
      background-color: #003c51 !important;
      height: 72px;
      width: 100%;
  }
  
  .MuiGrid-grid-xs-2 {
      flex-grow: 0;
      max-width: 16.666667%;
      flex-basis: 16.666667%;
  }
  
  .footer .middle_footer div {
      color: #fff !important;
      margin: auto;
      display: block;
      font-size: large;
  }
  
  .footer .middle_footer {
      background-color: #003c51 !important;
      height: 72px;
      width: 100%;
      display: flex;
      align-items: center;
      border-color: #003c51 !important;
  }
  
  .MuiGrid-grid-xs-6 {
      flex-grow: 0;
      max-width: 50%;
      flex-basis: 50%;
  }
  
  .footer .left_footer .left_footer_triangle {
      width: 0;
      height: 0;
      border-bottom: 72px solid #003c51 !important;
      border-left: 72px solid transparent;
      position: absolute;
      right: 0;
      bottom: 0;
  }
  
  .footer .left_footer .left_footer_image {
      height: 44px;
      width: 136px;
      margin: auto;
      display: block;
  }
  
  .footer .left_footer {
      background-color: #e11d3e;
      height: 60px;
      width: 100%;
      padding-top: 12px;
      position: relative;
  }
  
  .MuiGrid-grid-xs-3 {
      flex-grow: 0;
      max-width: 25%;
      flex-basis: 25%;
  }
  
  .MuiGrid-item {
      margin: 0;
      box-sizing: border-box;
  }
  
  .MuiGrid-container {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      box-sizing: border-box;
  }
  
  .footer {
      width: 100%;
      bottom: 0;
      position: fixed;
  }
  
  .motus_paragraph {
      height: auto;
      width: 100%;
      opacity: .65;
      color: #08131f;
      font-size: 18px;
      letter-spacing: 0;
      line-height: 27px;
      margin-bottom: 48px;
  }
  
  .advert_main_container .login_form_container .motus_header_signin {
      color: #003c51 !important;
      font-size: 40px;
      font-weight: 500;
      letter-spacing: 0;
      line-height: 56px;
      margin-bottom: 16px;
  }
  
  .advert_main_container .login_form_container {
      box-sizing: border-box;
      height: auto;
      border: 1px solid #d3dee3;
      border-radius: 5px;
      background-color: #fff;
      padding: 30px;
      max-width: 555px;
  }
  
  .advert_main_container .login_container {
      position: absolute;
      right: 0;
      top: 0;
  }
  
  .MuiTouchRipple-root {
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 0;
      overflow: hidden;
      position: absolute;
      border-radius: inherit;
      pointer-events: none;
  }
  
  .css-vubbuv {
      user-select: none;
      width: 1em;
      height: 1em;
      display: inline-block;
      fill: currentcolor;
      flex-shrink: 0;
      transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
      font-size: 1.5rem;
  }
  
  svg:not(:root) {
      overflow: hidden;
  }
  
  .advert_main_container .advert_container .advert_content .advert_button svg {
      transition: all .4s linear;
      transition-timing-function: ease-out;
      font-size: 48px;
  }
  
  .MuiButton-iconSizeMedium > *:first-child {
      font-size: 20px;
  }
  
  .MuiButton-endIcon {
      display: inherit;
      margin-left: 8px;
      margin-right: -4px;
  }
  
  .MuiButton-label {
      width: 100%;
      display: inherit;
      align-items: inherit;
      justify-content: inherit;
  }
  
  .advert_main_container .advert_container .advert_content .advert_button {
      background-color: transparent;
      box-shadow: none;
      color: #fff !important;
  }
  
  .MuiButton-text {
      padding: 6px 8px;
  }
  
  .MuiButton-root {
      color: rgba(0, 0, 0, 0.87);
      padding: 6px 16px;
      font-size: 0.875rem;
      min-width: 64px;
      box-sizing: border-box;
      transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
      font-family: "Roboto", "Helvetica", "Arial", sans-serif;
      font-weight: 500;
      line-height: 1.75;
      border-radius: 4px;
      letter-spacing: 0.02857em;
      text-transform: uppercase;
  }
  
  .MuiButtonBase-root {
      color: inherit;
      border: 0;
      cursor: pointer;
      margin: 0;
      display: inline-flex;
      outline: 0;
      padding: 0;
      position: relative;
      align-items: center;
      user-select: none;
      border-radius: 0;
      vertical-align: middle;
      -moz-appearance: none;
      justify-content: center;
      text-decoration: none;
      background-color: transparent;
      -webkit-appearance: none;
      -webkit-tap-highlight-color: transparent;
  }
  
  button {
      text-transform: capitalize !important;
      font-size: 24px !important;
  }
  
  .advert_main_container .advert_container .advert_content .advert_text {
      opacity: .65;
      color: #fff !important;
      font-size: 18px;
      letter-spacing: 0;
      line-height: 27px;
      margin-bottom: 58px;
  }
  
 body {
    margin: 0;
    font-family: 'HK Nova', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
  

  
  .advert_main_container .advert_container .advert_content .advert_header {
      height: 112px;
      color: #fff !important;
      font-size: 40px;
      font-weight: 500;
      letter-spacing: 0;
      line-height: 56px;
      margin-bottom: 16px;
  }
  
  .advert_main_container .advert_container .advert_content {
      max-width: 400px;
      justify-self: center;
      margin: auto auto auto 70px;
  }
  

  .advert_main_container {
      position: relative;
      height: -webkit-fit-content;
      height: -moz-fit-content;
      height: fit-content;
      padding-bottom: 400px;
  }
  
      .advert_main_container .advert_container {
          min-height: 448px;
          width: 100%;
          border-radius: 5px 0 0 5px;
          background-color: #003c51 !important;
          display: flex;
          background-position: 100%;
          background-size: 800px 650px;
          position: absolute;
          top: 40px;
          background: url("https://uateprocurestorage.blob.core.windows.net/customstaticpages/bodybackground.png")
      }
  
  #forgotPasswordDiv{
      text-align: center;
  }
  
  .create{
      text-align: center;
  }
  
input:focus {
		outline: none;
	}

		input:focus ~ label[for="number"], input.used ~ label[for="number"] {
			top: -21%;
			transform: scale(.75);
			left: 16%;
			/* font-size: 14px; */
		}

		input:focus ~ label[for="UserId"], input.used ~ label[for="UserId"] {
			top: -20px;
			transform: scale(.75);
			left: 18%;
			/* font-size: 14px; */
		}

		

	

		input:focus ~ label[for="emailVerificationCode"] {
			bottom: 70px !important;
			transform: scale(.85);
		margin-left: 10px;
    		background: white;
    padding: 0 5px;
		}

		input.used ~ label[for="emailVerificationCode"] {
			bottom: 70px !important;
			transform: scale(.85);
		margin-left: 10px;
    		background: white;
    padding: 0 5px;
		}

	
	input:focus ~ label[for="email"] {
   bottom: 70px !important;
			transform: scale(.85);
		margin-left: 10px;
    		background: white;
    padding: 0 5px;
}
input.used ~ label[for="email"] {
   bottom: 70px !important;
			transform: scale(.85);
		margin-left: 10px;
    		background: white;
    padding: 0 5px;
		}		

		input:focus ~ label[for="password"], input.used ~ label[for="password"] {
			top: -20px;
			transform: scale(.75);
			left: 18%;
			/* font-size: 14px; */
		}

label[for="number"] {
	color: #999;
	font-size: 16px;
	font-weight: normal;
	position: absolute;
	pointer-events: none;
	left: 20%;
	top: 10px;
	transition: all 0.2s ease;
	padding: 5% 10px 10px 5px;
}

label[for="UserId"] {
	color: #999;
	font-size: 16px;
	font-weight: normal;
	position: absolute;
	pointer-events: none;
	left: 20%;
	top: 10px;
	transition: all 0.2s ease;
}

label[for="newPassword"] {
	color: #999;
    font-size: 16px;
    font-weight: normal;
    position: relative;
    bottom: 40px;
    pointer-events: none;
    padding-left: 10px;
    margin-left: 2px;
    background: white;
    -webkit-autofill: none;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

label[for="reenterPassword"] {
	color: #999;
    font-size: 16px;
    font-weight: normal;
    position: relative;
    pointer-events: none;
    padding-left: 10px;
    margin-left: 2px;
    bottom: 40px !important;
    transition: all 0.2s ease; background: white;
    -webkit-autofill: none;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

label[for="password"] {
	color: #999;
	font-size: 16px;
	font-weight: normal;
	position: absolute;
	pointer-events: none;
	left: 20%;
	top: 10px;
	transition: all 0.2s ease;
}

label[for="ReadOnlyEmail_ver_input"] {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

label[for="countryCode"] {
	color: #999;
	font-size: 16px;
	font-weight: normal;
	position: absolute;
	pointer-events: none;
	top: 29%;
	transition: all 0.2s ease;
	padding: 9% 10px 10px 5px;
	transform: scale(.75);
	left: 16%;
}

label[for="ReadOnlyEmail_ver_input"] {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

  label[for="email"] {
	color: #999;
    font-size: 16px;
    font-weight: normal;
    position: relative;
    bottom: 40px;
    pointer-events: none;
    padding-left: 10px;
    margin-left: 2px;
    background: white;
    -webkit-autofill: none;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

  label[for="emailVerificationCode"] {
	color: #999;
    font-size: 16px;
    font-weight: normal;
    position: relative;
    pointer-events: none;
    padding-left: 10px;
    margin-left: 2px;
    bottom: 45px !important;
    transition: all 0.2s ease; background: white;
    -webkit-autofill: none;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
  
  .form_container .motus_header_reset_password {
      color: #003c51 !important;
      font-size: 40px;
      font-weight: 500;
      letter-spacing: 0;
      line-height: 56px;
      margin-bottom: 16px;
  }

  #emailVerificationControl_success_message {
	margin-top: 15%;
	text-align: center;
	font-size: 14px;
	
	width: 80% !important;
  color: #003c51 !important;
  	font-size: 14px;
	/*text-transform: uppercase;*/
	display: inline-block;
	color: #999;
	padding-bottom: 5%;
	   position: relative;
    top: 25px;
}

#emailVerificationControl_error_message {
		margin-top: 15%;
	text-align: center;
	font-size: 14px;
	
	width: 80% !important;
  color: #e11d3e !important;
  	font-size: 14px;
	/*text-transform: uppercase;*/
	display: inline-block;
	color: #999;
	padding-bottom: 5%;
   position: relative;
    top: 25px;
	left:60%
}

.bg-footer{
  background-color:#003c51;
  min-height: 60px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}
  .footer-logo{
   
    width:27%;
    float: left;
    
  }
  .footer-logo img{
    height:30px;
    width: auto;
    display: none
  }
  .footer-text {
    width:100%;
    float: left;
    text-align: center;
    font-size:15px;
    color: #fff;
    line-height: 60px;
  }
  @media(min-width:1600px){
    .footer-logo {
      width: 23%;
	  display: none
    }
  }
    @media(max-width:419px){
      .footer-logo {
        width: 40%;
		display: none
      }
      .footer-logo img{
      height:24px;
      width: auto;
      margin-left: -15px;
	  display: none
    }
      .bg-footer{
    
      background-image: none;
      }
      .footer-text {
        font-size:9px;
      }
  }
    @media(max-width:325px){
      .footer-logo {
        width: 48%;
        text-align: left;
      }
      .footer-logo img{
      
      margin-left: 15px;
    }    
  }

  
#grid_button .buttons button {
		margin-left: 10px;
		height: 50px;
		width: 190px;
		float: right;
    text-transform: capitalize !important;
    font-size: 23px !important;
    margin-bottom: 24px !important;
    background-color: #003c51 !important;
    color: #fff !important;
    color: inherit;
    border: 0;
    cursor: pointer;
    display: inline-flex;
    outline: 0;
    padding: 0;
    position: relative;
    align-items: right;
    user-select: none;
    border-radius: 0;
    vertical-align: middle;
    -moz-appearance: none;
    justify-content: center;
    text-decoration: none;
    background-color: transparent;
    -webkit-appearance: none;
    -webkit-tap-highlight-color: transparent;
    color: rgba(0, 0, 0, 0.87);
    padding: 6px 16px;
    font-size: 0.875rem;
    box-sizing: border-box;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 500;
    line-height: 1.75;
    border-radius: 4px;
    letter-spacing: 0.02857em;
    text-transform: uppercase;
    padding: 6px 8px;
}

@media screen and (max-width: 480px) {
	#grid_button .buttons button {
		float: none;
		width: 100% !important;
		margin-top: 20px;
	}
}

/* .entry-item {
    padding: 6px 0 6px;
} */

/* .entry-item label {
    display: none;
} */

input {
	width: 90% !important;
  padding: 18.5px 14px;
  font: inherit;
  color: currentColor;
	display: block;
	border: 0.5px solid lightgrey;
  border-radius: 5px;
  min-height: 1em;
  background: none;
  box-sizing: content-box;
  animation-name: mui-auto-fill-cancel;
  letter-spacing: inherit;
  animation-duration: 10ms;
  -webkit-tap-highlight-color: transparent;
}

input:-webkit-autofill {
	-webkit-box-shadow:0 0 0 50px white inset; /* Change the color to your own background color */
	-webkit-text-fill-color: currentColor;
}

#grid_button .buttons .resetPassword{
font-size: 22px !important;
}

	input:focus ~ label[for="newPassword"]{
		 bottom: 70px !important;
			transform: scale(.85);
		margin-left: 10px;
    		background: white;
    padding: 0 5px;
}
		
input.used ~ label[for="newPassword"] {
			 bottom: 70px !important;
			transform: scale(.85);
		margin-left: 10px;
    		background: white;
    padding: 0 5px;
}
		
		input:focus ~ label[for="reenterPassword"]{
			bottom: 70px !important;
			transform: scale(.85);
		margin-left: 10px;
    		background: white;
    padding: 0 5px;
		}

		input.used ~ label[for="reenterPassword"] {
			bottom: 70px !important;
			transform: scale(.85);
		margin-left: 10px;
    		background: white;
    padding: 0 5px;
		}


		//  
		::-webkit-input-placeholder {
        /* WebKit browsers */
         color: transparent;
    }
     :-moz-placeholder {
        /* Mozilla Firefox 4 to 18 */
         color: transparent;
    }
     ::-moz-placeholder {
        /* Mozilla Firefox 19+ */
         color: transparent;
    }
     :-ms-input-placeholder {
        /* Internet Explorer 10+ */
         color: transparent;
    }
     input::placeholder {
         color: transparent;
    }
     textarea::-webkit-input-placeholder {
        /* WebKit browsers */
         color: transparent;
    }
     textarea:-moz-placeholder {
        /* Mozilla Firefox 4 to 18 */
         color: transparent;
    }
     textarea::-moz-placeholder {
        /* Mozilla Firefox 19+ */
         color: transparent;
    }
     textarea:-ms-input-placeholder {
        /* Internet Explorer 10+ */
         color: transparent;
    }
     textarea::placeholder {
         color: transparent;
    }

	.passwordEntryMismatch{
	width: 80% !important;
    color: #e11d3e;
    font-size: 14px;
    position: relative;
    top: 0px !important;
    left: 2%;
}


.attrEntry{
position: relative;
    bottom: 100px !important;
    //left: 2%;
}

#fieldGrid{
	margin-top: 100px
}